:root {
    --white: #fff;

    --clr-border-link:#31363a;
    --clr-bg-menu:#0d1418;
    --clr-paragraph:#ffffffe1;
    --clr-information-paragraph:#737679;
    --transition-time:.3s;
}

* , ::before , ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
}
/* Header Section */
.nav {
    position: relative;
}

.toggleButton {
    display: grid;
    place-items: center;
    position: absolute;
    top: 20px;
    right: 20px ;
    width: 40px ;
    height: 40px;
    background-color: var(--white , #fff);
    border-radius: 50%;
    z-index: 20;
}
/* List Section */
.list {
    display: none;
}

.list__item {
    padding-left: 20px;
    padding-bottom: 15px;
}

.list__link {
    position: relative;
    font-size: 2.5rem;
    text-decoration: none;
    border-bottom: 1px solid var(--clr-border-link , #31363a);
    color: var(--white , #fff);
    transition: .3s border-bottom;
}
/* Projects Section */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: pointer;
}

.project {
    width: 100%;
    height: 100vh;
}

.project--first , .project--second , .project--third , .project--fourth {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter var(--transition-time , .3s) ;
}

.project--first {
    background-image: url(../assets/image/img/bird.jpeg);
}

.project--second {
    background-image: url(../assets/image/img/deer.jpeg);
}

.project--third {
    background-image : url(../assets/image/img/redBird.jpeg);
}

.project--fourth {
    background-image: url(../assets/image/img/chameleon.jpeg);
}
/* Project Content Section */

.project__content {
    height: 100%;
}

.project__info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    z-index: 10;
}

.project__title {
    margin: 20px 0 0 0;
    font-size: 1.25rem;
    color: var(--white , #fff);
}

.project__paragraph {
    margin: 0 ;
    width: 90%;
    color: var(--clr-paragraph , #ffffffe1);
    letter-spacing: 1px;
    line-height: 1.5;
}

.project__plusIcon {
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-time , .3s) all;
}

.project__subtitle {
    display: none;
    position: absolute;
    top: 80vh;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: var(--white , #fff);
}

/* Information Section */
.information {
    display: none;
}

/* Media Screen  MIN-WIDTH:768px */
@media screen and (min-width:768px) {

    .projects {
        flex-direction: row;
    }

    .project__title {
        font-size: 1.5rem;
    }

    .list__link {
        font-size: 4rem;
    }

}

/* Media Screen MIN-WIDTH:1024px */
@media screen and (min-width:1024px) {
    
    .project__title {
        font-size: 2rem;
    }

    .project__paragraph {
        font-size: 1.25rem;
    }

    .informat

}

/* Media Screen HOVER */
@media screen and (hover:hover) {

    .list__link:hover {
        border-bottom: 1px solid var(--white , #fff);
    }

    .project:hover .project__plusIcon {
        opacity: 1;
        transform: scale(1);
    }

    .project--first:hover , .project--second:hover , .project--third:hover , .project--fourth:hover{
        filter: grayscale(0%);
    }

}
/* Active Section */
.list.active {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg-menu , #0d1418);
}

.projects.active {
    display: none;
}

/* .project--second.active , .project--third.active ,.project--fourth.active  {
    display: none;
} */

.project__info.active {
    display: none;
}

.information.active {
    display: block;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.project__subtitle.active {
    display:block;
}

.information__paragraph {
    line-height: 1.5;
    color: var(--clr-information-paragraph , #737679);
}