* , ::before , ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.nav {
    position: relative;
}

.toggleButton {
    display: grid;
    place-items: center;
    position: absolute;
    top: 20px;
    right: 20px ;
    width: 40px ;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 20;
}

.list {
    display: none;
}

.list.active {
    display: block;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #0d1418;
}

.list__item {
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* margin: 10px; */

    /* BAJAR EL CONTENIDO ABAJO AUMENTAR TAMAÑO CON UN BORDERBOTTOM 1px COLOR GRIS MAS TRANSISION Y CAMBIAR IMAGEN DE MENU A FLECHA ABAJO  */

}

.list__link {
    color: #fff;
    text-decoration: none;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    cursor: pointer;
    /* display: inline; cuando quiero seleccionar 1 solo */
}

.projects.active {
    display: none;
}

.project {
    width: 100%;
    height: 100vh;
}

.project:hover .project__plusIcon {
    opacity: 1;
    transform: scale(1);

}

.project--first , .project--second , .project--third , .project--fourth {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: filter .3s ;
}

.project--first:hover , .project--second:hover , .project--third:hover , .project--fourth:hover{
    filter: grayscale(0%);
}

.project--first {
    background-image: url(../assets/image/img/bird.jpeg);
}

.project--second {
    background-image: url(../assets/image/img/deer.jpeg);
}

.project--third {
    background-image : url(../assets/image/img/redBird.jpeg);
}

.project--fourth {
    background-image: url(../assets/image/img/chameleon.jpeg);
}

.project__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    z-index: 10;
}

.project__title {
    margin: 20px 0 0 0;
    font-size: 1.25rem;
    color: #fff;
}

.project__paragraph {
    margin: 0 ;
    width: 90%;
    color: #ffffffe1;
    letter-spacing: 1px;
    line-height: 1.5;
}

.project__plusIcon {
    opacity: 0;
    transform: scale(0);
    transition: .3s all;
}

.information {
    display: none;
}

@media screen and (min-width:768px) {

    .projects {
        flex-direction: row;
    }

    .project__title {
        font-size: 1.5rem;
    }

}